{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>
  <link href="{% static 'https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' %}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" %}">
    <link rel="stylesheet" href="{% static "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" %}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
      <link rel="stylesheet" href="{% static "css/stylelogin.css" %}">

  
</head>

<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2&appId=341678319719583&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : 'Perrispy',
        cookie     : true,
        xfbml      : true,
        version    : 'v3.2'
      });
        
      FB.AppEvents.logPageView();   
        
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="form">
      
      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Registro</a></li>
        <li class="tab"><a href="#login">Ingresar</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="signup">   
          <h1>Registrate Gratis</h1>
          
          <form action="/registro/crear" method="POST">
          {% csrf_token %}
            <div class="field-wrap">
                <label>
                  Rut<span class="req">*</span>
                </label>
                <input type="text" maxlength="10" name="rut" required autocomplete="off"/>
              </div>

          <div class="top-row">
           <div class="field-wrap">
              <label>
                Nombre<span class="req">*</span>
              </label>
              <input type="text" required name="nombre" autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Apellidos<span class="req">*</span>
              </label>
              <input type="text"required name="apellidos" autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Correo Electrónico<span class="req">*</span>
            </label>
            <input type="email"required name="correo" autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Telefono de contacto<span class="req">*</span>
            </label>
            <input type="tel"required name="contacto" autocomplete="off" name="telefono" class="telefono"/>
          </div>

          <div class="field-wrap">
            <label>
              <span class="req"></span>
            </label>
            <input type="date"required name="fecnac" autocomplete="off"/>
          </div>

          <div class="field-wrap">
              <select class="form-control" name="region" id="region">
                <option id="opt">Seleccione Region..<span class="req">*</span></option>
              </select>
          </div>
  
          <div class="field-wrap">
              <select class="form-control" name="comuna" id="comuna">
                <option id="opt">Seleccione Comuna..<span class="req">*</span></option>
              </select>
          </div>
          <div class="field-wrap">
              <select class="form-control req" name="tipovivienda" id="tipovivienda">
                <option id="opt">Tipo de Vivienda..<span class="req">*</span></option>
                <option id="opt" value="Casa con patio g">Casa con patio grande</option>
                <option id="opt" value="Casa con patio p">Casa con patio pequeño</option>
                <option id="opt" value="Casa sin patio">Casa sin patio</option>
                <option id="opt" value="Depto">Departamento</option>
              </select>
          </div>
          <div class="field-wrap">
            <label>
              Crea tu contraseña<span class="req">*</span>
            </label>
            <input type="password" name="contraseña" required autocomplete="off"/>
          </div>
          
          <button type="submit" class="button button-block"/>Registrar</button>
          
          </form>

        </div>
        
        <div id="login">   
          <h1>Bienvenido</h1>
          
          <form action="/registro/inicio/login" method="post">
            {% csrf_token %}
            <div class="field-wrap">
            <label>
              Correo Electrónico<span class="req">*</span>
            </label>
            <input type="email" name="usuario" required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Contraseña<span class="req">*</span>
            </label>
            <input type="password" name="contraseña" required autocomplete="off"/>
          </div>
          
          <p class="forgot"><a href="#">Olvide mi contraseña</a></p>

          <div class="fb-login-button" href="/" scope="public_profile,email" onlogin="checkLoginState();" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
          
          <button class="button button-block"/>Ingresar</button>
          
          </form>

        </div>
        
      </div>
      
</div> 
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  

    <script  src="{% static "js/index.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



</body>

</html>
