{% load static %}
<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/bootstrap.css " %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/unite-gallery.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "themes/default/ug-theme-default.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
    
    <title>Mis Perris</title>
</head>
<body>
    <header class="container-fluid">
        <div id="fila" class="row">
                <div class="col-sm-12 col-md-12 col-lg-3">
                        <img class="img-fluid" src="{% static "img/logo.png" %}" alt="">
                </div>
                <div id="navbar" class="col-sm-12 col-md-12 col-lg-9">
                          <a class="nav-item col-sm-12 col-md-2 col-lg-2" href="#">Inicio</a>
                          <a class="nav-item col-sm-12 col-md-2 col-lg-2" href="#">Quienes Somos</a>
                          <a class="nav-item col-sm-12 col-md-2 col-lg-2" href="#">Servicios</a>
                          <a class="nav-item col-sm-12 col-md-2 col-lg-2" href="#">Contactanos</a>
                          <ul class="navbar-nav my-2 my-lg-0">
                            {% if user.is_authenticated %}
                         <li class="col-sm-12 col-md-2 col-lg-1 nav-item"><h5 class="col-sm-12 col-md-2 col-lg-1 nav-item">Bienvenido {{usuario}}</h5><a class="col-sm-12 col-md-2 col-lg-1 nav-item" href="{% url "cerrar_session" %}">Cerrar Sesión</a> </li>
                         {% else %}
                          <li class="letrascol-sm-12 col-md-2 col-lg-1 nav-item"><a class="col-sm-12 col-md-2 col-lg-1 nav-item" href="{% url "registro" %}">Ingresar</a> </li>
                          {% endif %}
                        </ul>
                  </div>

        </div>
        <div id="fila" class="row">
               
          </div>
    </header>

    <div id="arriba" class="container-fluid">
        <div class="row">
            <div id="carrusel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carrusel" data-slide-to="0" class="active"></li>
                  <li data-target="#carrusel" data-slide-to="1"></li>
                  <li data-target="#carrusel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner ">
                  <div class="carousel-item active">
                    <img class="d-block w-100 crop-image" src="{% static "img/adoptados/Apolo.jpg" %}" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <blockquote class="blockquote text-center">
                                <blockquote class="blockquote text-center">
                                        <h3 class="mb-0">Apolo</h3>
                                        <footer class="blockquote subdark"> “La decisión de adoptar a apolo fue en familia y con el ánimo de darle la posibilidad a un hermano menor (así les llamamos a los perrunos). Ha sido una bella experiencia, ya que al ser adulto es tranquilo y deja que los niños jueguen con el. Goza de paciencia, por lo que comparte muy bien junto a los otros hermanos perrunos que acá tenemos. ” - <cite title="Source Title">Familia Hermosilla- Salazar</cite></footer>
                                </blockquote>
                                </blockquote>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100 crop-image" src="{% static "img/adoptados/Duque.jpg" %}" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                            <blockquote class="blockquote text-center">
                                    <h3 class="mb-0">Duque</h3>
                                    <footer class="blockquote subdark"> “Desde niña me gustaron mucho los animales. Cada vez que veía uno deambulando por las calles lo recogía, aunque eso me costara muchos retos de mis papás. Claramente no sabía nada sobre la tenencia responsable, no sabía que existía la esterilización y, como niña, era un lujo ver más y más animales” - <cite title="Source Title">Alexandra</cite></footer>
                                  </blockquote>
                          </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100 crop-image" src="{% static "img/adoptados/Tom.jpg" %}" alt="Third slide">
                                        <div class="carousel-caption d-none d-md-block">
                        <blockquote class="blockquote text-center">
                            <h3 class="mb-0">Tom</h3>
                            <footer class="blockquote subdark"> “Nunca habíamos adoptado un perrito de un refugio (aunque sí habíamos recogido un cachorro de la calle), ni menos con las condiciones y capacidades que él tiene. Tener a Tom en nuestra familia ha sido genial, hemos tenido la oportunidad de conocer a un perrito muy agradecido, simpático, tierno, amoroso y de muy buen carácter, es un perro exquisito.” - <cite title="Source Title">Familia Yañez - Contreras</cite></footer>
                          </blockquote>
                      </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carrusel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carrusel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
        <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h3 id="telefono"><i class="fas fa-phone-square"></i>+56 9 147852369</h3>
                </div>
                <div  class="col-sm-12 col-md-4 col-lg-4"><h3>Rescate y adopción de perros callejeros</h3></div>
            <ul id="redes" class="col-sm-12 col-md-4 col-lg-4">
                    <li><a href=""><i class="fab fa-facebook-square fa-3x"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram fa-3x"></i></a></li>
                    <li><a href=""><i class="fab fa-google-plus-square fa-3x"></i></a></li>
                    <li><a href=""><i class="fas fa-envelope fa-3x"></i></a></li>
            </ul>
            </div>
    </div>

    <br>
    <div class="container">
        <div class="row">
            <div id="derecho" class="col-xs-12 col-sm-6 col-md-6">
                <h2>Rescate</h2>
                <h4>Etapa uno</h4>
                <hr>
                <p>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los prearamos para buscarles un hogar.</p>
                <img src="{% static "img/rescate.jpg" %}" class="img-fluid" alt="rescate">
            </div>
            <div id="izquierdo" class="col-xs-12 col-sm-6 col-md-6" >
                <img src="{% static "img/crowfunding.jpg" %}" class="img-fluid" alt="crowfunding">
                <h2>Crowfunding</h2>
                <h4>Financiamiento</h4>
                <hr>
                <p>Sigue nuestras redes sociales para informate acerca informarte acerca de las diversas campañas y actividades que realizamos para obtener financiamiento para seguir ayudando.</p>
            </div>
        </div>
    </div>
    <h1 id="campanias" class="bold-text col-lg-2">Campañas</h1>
    <div class="container-fluid">


    <div id="gallery" style="display:none;">
		
			<img alt="Luna" src="{% static "img/rescatados/Luna_tn.jpg" %}"
				data-image="{% static "img/rescatados/Luna.jpg" %}"
				data-description="Luna, cariñosa, tierna y una linda perrita, su dueño anterior la abandono asi que espera una familia que la quiera y le de el amor que necesita.">
			
			<img alt="Maya" src="{% static "img/rescatados/Maya_tn.jpg" %}"
				data-image="{% static "img/rescatados/Maya.jpg" %}"
                data-description="Maya es una perrita muy equilibrada, tierna, sociable con personas y perros. ">
                <img src="{% static "img/rescatados/Bigotes_tn.jpg" %}" alt="Bigotes"
                data-image="{% static "img/rescatados/Bigotes.jpg" %}"
                data-description="
                Bigotes es un maravilloso perrito 
                ama jugar, saltar y correr. Se lleva bien con perros de todo tipo, niños y personas de todas las edades. Es un perrito que en pocos minutos te roba el corazón.">
                
                <img src="{% static "img/rescatados/Chocolate_tn.jpg" %}" alt="Chocolate"
                data-image="{% static "img/rescatados/Chocolate.jpg" %}"
                data-description="Chocolate le encanta que lo regaloneen y espera con ansias cada domingo para recibir los cariños de los voluntarios.
                Puede ser un poco mañoso con otros perros, pero es muy bueno y dulce.">
        
                <img src="{% static "img/rescatados/Oso_tn.jpg" %}" alt="Oso"
                data-image="{% static "img/rescatados/Oso.jpg" %}"
                data-description="Oso es un perrito muy cariñoso y juguetón, y le encanta recibir cariños y salir a pasear. Es muy sociable, se lleva bien con hembras y machos, pasea perfecto con la correa y tiene un excelente carácter.">
        
                <img src="{% static "img/rescatados/Pexel_tn.jpg" %}" alt="Pexel"
                data-image="{% static "img/rescatados/Pexel.jpg" %}"
                data-description="Pexel su personalidad es muy dulce y dócil. Se lleva bien con otros perros, pasea muy tranquilo y disfruta enormemente el cariño. Es muy recomendable para una familia con niños o adultos mayores">
                <img src="{% static "img/rescatados/Wifi_tn.jpg" %}" alt="Wifi"
                data-image="{% static "img/rescatados/Wifi.jpg" %}"
                data-description="Wifi  es un perro cariñoso, que se lleva bien con machos y hembras, y como característica propia de su edad, es un perro muy juguetón.">
                <img src="{% static "img/rescatados/Felipe.jpg" %}" alt="Felipe"
                data-image="{% static "img/rescatados/Felipe_g.jpg" %}"
                data-description="Felipe es un perrito feliz, adorable y dócil. Se destaca por ser muy tranquilo y obediente! Al momento de pasearlo, camina al lado de uno muy tranquilo y obediente. Es un perrito perfecto para departamento, casa pequeña y principalmente de compañía">
                <img src="{% static "img/rescatados/Rodrigo.jpg" %}" alt="Rodrigo"
                data-image="{% static "img/rescatados/Rodrigo.jpg" %}"
                data-description="Rodrigo es un perro activo, ama jugar con su pelota y es un buen guardián. Se lleva muy bien con otros perros siempre que no haya comida de por medio, que es cuando se pone más gruñón.">
                <img src="{% static "img/rescatados/Washinton.jpg" %}" alt="Washinton"
                data-image="{% static "img/rescatados/Washinton.jpg" %}" %}"
                data-description="Washinton es un cachorro muy cariñoso, juguetón y
                obediente. Aprende rápido y entrega amor sin limitaciones. Le encanta extender su pata sobre las
                personas para pedir cariño y camina junto a su líder en los paseos, ">			
                
		</div>
</div>


        <footer class="container-fluid bg-light"><div class="row paddfoot subdark"><p>Desarrollo Web y Mobile</p></div></footer>

        <script src="{% static "js/jquery-3.3.1.js" %}"></script>
        <script src="{% static "js/popper.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/jquery.validate.js" %}"></script>
        <script src="{% static "js/unitegallery.min.js" %}"></script>
        <script src="{% static "themes/tiles/ug-theme-tiles.js" %}"></script>
        <script src="{% static "js/app.js" %}"></script>
</body>
</html>