body{

    margin: 0;
    padding: 0;
    border: 0;
}
#basic-addon1{
    background-color: #1abd91;
}
#registro div{
    float: left;
}
#carrusel{
    width: 100%;
}
.crop-image{
    object-fit: cover;
    object-position: top;
    max-height: 670px;
}
#navbar{
    overflow: hidden;
}
.letras{
    font-size: 12;
    float: left;
}
#fila{
    background-color: #1abd91
}
.sub{
 color: rgb(97, 93, 93);
 font-weight: bolder;
}
.subdark{
    color:black;
    font-weight: bolder;
   }
#navbar a{
    padding: 12px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    background-color: #1abd91;   
    color: white;
    display: block;
    float: left;
    text-decoration: none;
}
.paddfoot p{
    text-align: left;
    font-size: 25px;
}
.paddfoot{
    background-color: rgb(196, 192, 192);
    padding: 25px;
}
#gallery{
    background-color: #1abd91;
}
#campanias{
    border-block-end: auto;
    border:black 5px solid;

}
#telefono{
    text-align: center;
}
#redes{
    list-style: none;
}
#redes li{
    margin: 10px;
    float: left;
}
.bold-text{
    font-weight: bolder
}
#arriba{
    background-color:  #1dd1a1;
}
input {
    float: left;
    width: 200px;
    margin-bottom: 10px;
  }
  
  label {
    clear: both;
    float: left;
    width: 180px;
  }
  
  button {
    clear: both;
    float: left;
    width: 50px;
  }
  
  .error-control {
    border: 1px solid red;
  }
  
label.error {
    color: red;
    width: 300px;
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
    }
